.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.table-wrapper{
  width: 100%;
}

.table-header{
  background-color: orange;
}
.extra-info{
  font-size: 10px;
  color:grey;
  margin-left:.5em;
  margin-right: .5em;
}

a {
  text-decoration: none;
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
}

a:hover {
  text-decoration: none;
  color: orange;
}

.created-time{
  margin-left:.5em;
  margin-right: .5em;
}

.author-name{
  font-weight: 600;
  margin-left:.5em;
  margin-right: .5em;
  color:black;
}

.previous {
  color: orange;
  font-weight: 600;
}

.pagination-wrapper{
  text-align: right;
}

.next {
  color: orange;
  border-left: 6px solid orange;
  font-weight: 600;
}

.timeline-wrapper{
  width: 100%;
  padding:1em;
  border-bottom: 1px solid orange;
  border-top: 1px solid orange;
  margin-top: 1em;

}

.disabled{
  cursor:not-allowed;
}

.number-col{
  width: 10%;
}

.left-align{
  text-align: left;
}
.hide-link{
  cursor: pointer;
  color:black;
  margin-left:.5em;
  margin-right: .5em;
}

.blog-link{
  color:grey;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
